<!DOCTYPE html>
<html lang="en-US">
  <head>
    <% include ../includes/header.ejs %>
  </head>
  
  <body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
    <div class="container">
      <div>
        <!-- // Requirement 2:  Include a link to another page called Add Product. 
// This page should be loaded using GET as well. Include a form on this add product page that 
// will submit a POST request when submitted. This form should include at least the title of the new book. 
// When the form is submitted, add the new book to the array of products and go to the original page which shows all products. -->
        <form action="/prove02/addBook" method="POST">
          <label for="newBook">New Book Title</label><br>
          <input type="text" name="newBook">
          <button type="submit">Add Book</button>
        </form>
        <!-- End of Requirement 01 -->
      </div>
      <div>
        <!-- Start of Requirement 03 -->
        <form action="/prove02/removeBook" method="POST">
          <label for="removeBook">Book to remove</label><br>
          <input type="text" name="removeBook">
          <button type="submit">Remove Book</button>
        </form>
        <!-- End of Requirement 03 -->
      </div>
      <div>
        <!-- Loop through User List as part of Requirement 01-->
        <h2>Books:</h2>
        <% for(book of books) { %>
          <p>
            <%= book %>
          </p>
          <% } %>
            <!-- End of Loop -->
      </div>
    </div>
</body>

</html>



